<!DOCTYPE html>
<html ng-app="Client">
<head>
	<title>Favres-Client</title>
	<link rel="stylesheet" type="text/css" href="css/vendor/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/vendor/bootstrap-theme.min.css">
</head>
<body>
<div ng-controller="mainController">
	<input type="text" ng-model="address" ng-change="refreshAddresses(address)"><br>
	{{addresses[0].formatted}}<br>
	<input type="button" value="Select this place" ng-click="fetchRestaurants()"><br>
	<span ng-repeat="restaurant in restaurants">{{restaurant.name}}
	<input type="button" value="Add to favourites" ng-click="addFav(restaurant)"><br></span>
	
	<input type="button" value="Sign up" ng-click="showSignupForm()">
	<input type="button" value="Sign in" ng-click="showSigninForm()">
	
	<div ng-show="showSignupFormToggle">
	Name: <input type="text" ng-model="newuser.name"><br/>
	Username: <input type="text" ng-model="newuser.username"><br/>
	Password: <input type="text" ng-model="newuser.password"><br/>
	Email: <input type="text" ng-model="newuser.email"><br/>
	<input type="button" value="Submit" ng-click="addUser()"><br>
	</div>

	<div ng-show="showSigninFormToggle">
	Username: <input type="text" ng-model="signinuser.username"><br/>
	Password: <input type="text" ng-model="signinuser.password"><br/>
	<input type="button" value="Submit" ng-click="signinUser()"><br>
	</div>

	<br/><input type="button" value="Show my favourites" ng-click="getFav()">
	<span ng-repeat="favourite in favourites">{{favourite.name}}<input type="button" value="Remove from favourites" ng-click="removeFav(favourite)"><br></span>
</div>

<script type="text/javascript" src="js/vendor/angular.min.js"></script>
<script type="text/javascript" src="js/vendor/ui-bootstrap.min.js"></script>
<script type="text/javascript" src="js/app.js"></script>
</body>
</html>