<!DOCTYPE html>
<html ng-app="Client">
<head>
	<title>Favres-Client</title>
	<link rel="stylesheet" type="text/css" href="css/vendor/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/custom.css">
</head>
<body>
<div class="container" ng-controller="mainController">
	<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
		<b><a class="navbar-brand">FavRes</a></b>
	    </div>
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
	      <ul class="nav navbar-nav">
	        <li id="restaurantbutton" class="active" ng-click="showResultsPage()"><a>Restaurants<span class="sr-only">(current)</span></a></li>
	        <li id="favouritesbutton" ng-click="getFav();showFavouritesPage()"><a>Favourites</a></li>
	      </ul>
	      <form class="navbar-form navbar-left" role="search">
	        <div class="form-group">
	          <input class="form-control" placeholder="Search restaurants" type="text" ng-model="address" ng-change="refreshAddresses(address)">
	          <input class="form-control" placeholder="Search something" type="text" value="{{addresses[0].formatted}}" disabled="">
	        </div>
	        <button type="submit" class="btn btn-default" ng-click="fetchRestaurants();showResultsPage()">Submit</button>
	      </form>
	      <ul class="nav navbar-nav navbar-right">
	        <li ng-click="openSigninSignup('lg')"><a>Signin/Signup</a></li>
	      </ul>
	    </div>
	  </div>
	</nav>
	<div ng-show="searchResultsShow">
	<div class="row">
		<div class="col-md-5">
			<input class="form-control input-md" placeholder="Search restaurants" type="text" ng-model="address" ng-change="refreshAddresses(address)">
		</div>
		<div class="col-md-5">
			<input class="form-control input-md" placeholder="Search something" type="text" value="{{addresses[0].formatted}}" disabled="">
		</div>
		<div class="col-md-2">
			<input class="btn btn-md" style="width:100%" type="button" value="Select this place" ng-click="fetchRestaurants()">
		</div>
	</div>
	<hr>
	<h4><b>Nearby Restaurants-</b></h4>
	<div class="panel panel-default" ng-repeat="restaurant in restaurants">
  		<div class="panel-body">
    		<b>{{restaurant.name}}</b>
    		<input class="btn btn-sm pull-right" type="button" ng-click="addFav(restaurant)" value="+">
  		</div>
	</div>
	</div>
	<div ng-show="favouritesShow">
		<h4><b>My Favourites-</b></h4>
		<div class="panel panel-default" ng-repeat="favourite in favourites">
  		<div class="panel-body">
    		<b>{{favourite.name}}</b>
    		<input class="btn btn-sm pull-right" type="button" ng-click="removeFav(favourite)" value="-">
  		</div>
	</div>
	</div>
</div>

<script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">
            <div class="row">
			<div class="col-md-6">
            <input class="btn btn-md hundredwidth" type="button" value="Sign up" ng-click="showSignupForm()">
            </div>
            <div class="col-md-6">
			<input class="btn btn-md hundredwidth" type="button" value="Sign in" ng-click="showSigninForm()">
			</div>
			</div>
			</h3>
        </div>
        <div class="modal-body">
         	<div ng-show="showSignupFormToggle">
				Name: <input type="text" ng-model="newuser.name"><br/>
				Username: <input type="text" ng-model="newuser.username"><br/>
				Password: <input type="password" ng-model="newuser.password"><br/>
				Email: <input type="text" ng-model="newuser.email"><br/>
				<div class="modal-footer">
            		<button class="btn btn-primary" type="button" ng-click="addUser();ok()">submit</button>
        		</div>
			</div>

			<div ng-show="showSigninFormToggle">
				Username: <input type="text" ng-model="signinuser.username"><br/>
				Password: <input type="password" ng-model="signinuser.password"><br/>
				<div class="modal-footer">
            		<button class="btn btn-primary" type="button" ng-click="signinUser();ok()">submit</button>
        		</div>
			</div>
        </div>
</script>
<script type="text/javascript" src="js/vendor/angular.min.js"></script>
<script type="text/javascript" src="js/vendor/ui-bootstrap.min.js"></script>
<script type="text/javascript" src="js/app.js"></script>
</body>
</html>